doctype html
html 
    head
        meta(charset="utf-8")/
        title Google SpreadSheet NodeJS Test 
        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l", crossorigin="anonymous")
    body 
        div 
            form(method="post" action="/create-folder" class="form-group" id="myForm")
                div
                    label(for="name") Nombre del folder :
                    p 
                        input(type="text" placeholder="Introduce el nombre" name="foldername" class="form-control" id="folder-input")
                div
                    label(for="name") Email a compartir :
                    p 
                        input(type="text" placeholder="Introduce el email" name="email" class="form-control" id="email-input")
                div 
                    button(type="submit" class="btn btn-primary btn-lg btn-block") Guardar
            div(class="errors" id="errors")
        script(type='text/javascript' src='/js/create-folder.js')