doctype html
html 
    head
        meta(charset="utf-8")/
        title Google SpreadSheet NodeJS Test 
        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l", crossorigin="anonymous")
    body 
        div
            table(class="table table-striped") 
                tbody
                    tr 
                        th Project ID
                        td #{projectId}
                    tr 
                        th Email owner
                        td #{email}
                    tr 
                        th Email Compartido
                        td #{shared}
                    tr 
                        th Folder ID
                        td #{folderId}
                    tr 
                        th Folder Name
                        td #{folderName}
                    tr 
                        th Folder url
                        td #{folderURL}
            hr
            p(class="d-flex justify-content-center") 
                a(href="/" class="btn btn-success") Regresar al inicio