doctype html
html 
    head
        meta(charset="utf-8")/
        title Google SpreadSheet NodeJS Test 
        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l", crossorigin="anonymous")
    body 
        div 
            form(method="post" action="/form" class="form-group")
                div
                    label(for="name") Nombre :
                    p 
                        input(type="text" placeholder="Introduce el nombre" name="name" class="form-control")
                div
                    label(for="lastname") Apellido :
                    p 
                        input(type="text" placeholder="Introduce el apellido" name="lastname" class="form-control")
                div
                    label(for="age") Edad :
                    p 
                        input(type="text" placeholder="Introduce la edad" name="age" class="form-control")
                div 
                    button(type="submit" class="btn btn-primary btn-lg btn-block") Guardar