doctype html
html 
    head
        meta(charset="utf-8")/
        title Google SpreadSheet NodeJS Test 
        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l", crossorigin="anonymous")
    body 
        div
            table(class="table table-striped") 
                thead(class="thead-dark") 
                    tr 
                        th(scope="col") Nombre
                        th(scope="col") Apellido
                        th(scope="col") Edad
                tbody
                    each item, index in data
                        tr 
                            td #{item.Name}
                            td #{item.LastName}
                            td #{item.Age}
            hr
            p(class="d-flex justify-content-center")  
                a(href="/form" class="btn btn-success") Ingresar nuevo
            hr
            div(class="d-flex justify-content-center mb-3")  
                a(href="/create-folder" class="btn btn-primary btn-lg btn-block center-btn-cool") Crear folder y obtener Id
            div(class="d-flex justify-content-center mb-3")
                a(href="/create-sheet" class="btn btn-primary btn-lg btn-block center-btn-cool") Crear Sheet y guardar en folder con Id
            div(class="d-flex justify-content-center mb-3")  
                a(href="/create-sheet-folder" class="btn btn-primary btn-lg btn-block center-btn-cool") Crear Folder y Sheet
            div(class="d-flex justify-content-center")  
                a(href="/create-sheet-folder-data" class="btn btn-primary btn-lg btn-block center-btn-cool") Crear Folder y Sheet con datos